<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="wrapper-header">
    <div class="row">
    <div class="col-xs-12 col-md-8">
        <a href="#">  </a>&nbsp;
        
        <button class='btn btn-home-cadastro-clientes'  title="Inicio" (click)='gotoHome()'><i style="cursor: pointer;" class="material-icons">home</i> </button>
        <button class='btn btn-home-cadastro-clientes' title="Bancos" (click)='gotoCadastroBanco()'><i class="material-icons">work</i> </button>
        <button class='btn btn-home-cadastro-clientes' title="Empenhos" (click)='gotoCadastroEmpenho()'><i class="material-icons">watch_later</i> </button>

    </div>
   
    </div>
    </div>