<div class="wrapper">
  <div class="topicos">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ul class="topicos-footer">
      
            <li><a href="https://angular.io/">Documentação Angular</a></li>
            <li> <a href="https://ng-bootstrap.github.io/#/home">Documentação Bootstrap</a></li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="topicos-footer">
            <li><a href="https://material.io/design/">Documentação Google Material</a></li>
            <li><a href="https://github.com/andersonrodrigo/projetoAG">Projeto no GIT</a></li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="topicos-footer">

          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="rodape">
    
  </footer>
</div>