<div class="wrapper">
  <div class="topicos">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ul class="topicos-footer">
      
            <li>Documentação Angular</li>
            <li>Documentação Bootstrap</li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="topicos-footer">
   
            <li>Documentação Google Material</li>
            <li>Projeto no GIT</li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="topicos-footer">

          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="rodape">
    
  </footer>
</div>