
<div class="container">
  <div id="mensagens" >
      
      <ngb-alert  *ngIf="exibeMensagem" (close)="exibeMensagem = false">{{mensagemCorpo}}</ngb-alert>
        
   <hr/>
  </div>  
      







  <div class="row box-cadastro">
    <div class="col-12">
      <h3 class="text-center">Bancos</h3>
      <mat-tab-group>
          <mat-tab label="Seleção">
            
            <div class="container">
              <div class="card ">
                <div class="card-body">
                  <h4 class="card-title">Bancos</h4>
                  <input type="text" class="form-control cadastro" (keyup)="applyFilter($event.target.value)" type="text"  placeholder="Filtro">
     
                  <table class="table table-stripped" width="100%">
                    <tbody>
                        <tr >
                            <th width="20%">Codigo </th>
                            <th width="60%"> Nome</th>
                            <th width="20%">Sigla</th>
                        </tr>

                      <tr *ngFor="let banco of listaItens">
                          <td>{{banco.codigoBanco}}</td>
                          <td>{{banco.descricaoBanco}}</td>
                          <td>{{banco.descricaoSigla}}</td>
                      </tr>
                    </tbody>
                  </table>
                    <hr>
                  <ul class="nav nav-pills">
                      <li class="nav-item" *ngFor="let p of pages; let i=index">
                          <a class="nav-link active" href="#" [ngClass]="{'active':i==page}"  (click)="setPage(i, $event)">{{i +1 }}</a>
                      </li>
                  </ul>

                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Formulario" >

          <form class="mt-5"   [formGroup]='formCadastro' style="height: 300px; width: 110vh;">
            <div class="form-group">
              <input type="text" class="form-control cadastro" type="number" required placeholder="Codigo Banco" formControlName='codigoBanco'>
     

            </div>
            <div class="form-group">
              <input type="text" class="form-control cadastro" required placeholder="Nome Banco" formControlName='descricaoBanco'>
            </div>
            <div class="form-group">
              <input type="text" class="form-control cadastro" required placeholder="Sigla" formControlName='descricaoSigla'>
            </div>
            <div class="form-group"    style="text-align: center;">
            <button type="submit" (click)="sair($event)"    class="btn btn-cadastro btn-lg">Sair</button> &nbsp;
            <button type="submit" (click)="cadastro($event)"  class="btn btn-cadastro btn-lg">Salvar</button>
            </div>
          </form>
 </mat-tab>
        </mat-tab-group>

    </div>
  </div>
</div>
